.form-control {
  width: 220px;
  margin-bottom: 16px;
  display: inline-block;
}

select.form-control{
  appearance: auto;
}

.main-box{
  border-radius: 8px;
  box-shadow: rgba(35, 55, 80, 0.3) 0px 6px 12px;
}

.main-box-content{
  padding: 22px;
}

.main-title{
  margin: 32px;
}

.from-result {
  font-size: 1.4rem;
  color: rgb(92, 102, 123);
  font-weight: 600;
}

.to-result {
  font-size: 2rem;
  font-weight: 600;
  color: rgb(46, 60, 87);
}

.btn-swap{
  margin-bottom: 16px;
}