.active-tab{
  background-color: rgb(255, 255, 255) !important;
  font-family: Inter, sans-serif;
  color: rgb(0,117,157);
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none; 
  padding-top: 16px;
  padding-bottom: 16px;
}

.inactive-tab{
  background-color: rgb(240, 245, 250) !important;
  font-family: Inter, sans-serif;
  color: rgb(113, 151, 163);
  font-size: 1.2rem;
  font-weight: normal;
  text-decoration: none;
  padding-top: 16px;
  padding-bottom: 16px;
}

.convert-tab{
  border-top-left-radius: 8px;
}
.rates-tab{
  border-top-right-radius: 8px;
}

.inactive-tab:hover {
  opacity: 0.5;
}

.active-tab:hover{
  opacity: 0.5;
}

.money-icon{
  width: 24px;
  height: 24px;
}
.convert-icon{
  width: 20px;
  height: 20px;
  padding-right: 4px;
}
